


<!-- Footer -->
<footer class="page-footer font-small elegant-color" id="main">

  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 pt-md-5">

    <!-- Grid row -->
    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h3>CUSTOMER SERVICE</h3>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contact Us</a>
          </li>
          <li>
            <a href="#!">Track Order</a>
          </li>
          <li>
            <a href="#!">Return Order</a>
          </li>
          <li>
            <a href="#!">Cancel Order</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h3>COMPANY</h3>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">
          <li>
            <a href="#!">About US</a>
          </li>
          <li>
            <a href="#!">Terms & Conditions</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
          <li>
            <a href="#!">Security</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h3>CONNECT WITH US</h3>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">


        <ul class="list-unstyled">
          <li>
            <a href="#" class="icon fa-twitter"> Twitter</a>
          </li>
          <li>
            <a href="#" class="icon fa-facebook"> Facebook</a>
          </li>
          <li>
            <a href="#" class="icon fa-instagram"> Instagram</a>
          </li>
          <li>
            <a href="#" class="icon fa-snapchat"> Snapchat</a>
          </li>
        </ul>



      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

    </div>
    <!-- Grid row -->




    <hr>






    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-3 mb-0 mb-md-4">

        <!-- Links -->
        <h2>MEN'S CLOTHING</h2>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">

          <li>
            <a href="#!">Men's T-Shirts</a>
          </li>
          <li>
            <a href="#!">Formal Shirts</a>
          </li>
          <li>
            <a href="#!">Kurtas</a>
          </li>
          <li>
            <a href="#!">Suits</a>
          </li>
          <li>
            <a href="#!">Casual Shirts</a>
          </li>
          <li>
            <a href="#!">Blazzers & Coats</a>
          </li>
          <li>
            <a href="#!">Men's-Jean</a>
          </li>
          <li>
            <a href="#!">Track Pants</a>
          </li>
          <li>
            <a href="#!">Shorts</a>
          </li>
          <li>
            <a href="#!">Ethentic</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-3 mb-0 mb-md-4">

        <!-- Links -->
        <h2>WOMEN'S CLOTHING</h2>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">
          <li>
            <a href="#!">Women Tops</a>
          </li>
          <li>
            <a href="#!">Dresses</a>
          </li>
          <li>
            <a href="#!">Salwar-Suits</a>
          </li>
          <li>
            <a href="#!">Gowns</a>
          </li>
          <li>
            <a href="#!">Sarees</a>
          </li>
          <li>
            <a href="#!">Women-Jeans</a>
          </li>
          <li>
            <a href="#!">Women Sports-Wear</a>
          </li>
          <li>
            <a href="#!">Women Ethentic-wear</a>
          </li>
          <li>
            <a href="#!">Kurtis</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-3 mb-0 mb-md-4">

        <!-- Links -->
        <h2>KID'S CLOTHING</h2>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">


        <ul class="list-unstyled">
          <li>
            <a href="#">Boys & Girls T-Shirts</a>
          </li>
          <li>
            <a href="#">Boys & Girls Ethentic Wear</a>
          </li>
          <li>
            <a href="#">Boys Party Wear</a>
          </li>
          <li>
            <a href="#">Girls Jeans</a>
          </li>
          <li>
            <a href="#">Boys Jeans</a>
          </li>
          <li>
            <a href="#">Girls Party Wear</a>
          </li>
          <li>
            <a href="#">Track Pants</a>
          </li>
        </ul>



      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

    </div>


  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" id="copyright">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> FashionMart.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

