<br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval = "3000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink=""><img class="d-block w-100" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/4/13/48879d12-f7a7-43aa-961a-dbe51cdc85db1618331402907-Kids_Desk_Banner.jpg" alt="First slide"></a>
    </div>
    <div class="carousel-item ">
      <a routerLink = ""><img class="d-block w-100" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/4/14/3df9a684-3c42-451b-8b92-bf5a6794ce0d1618418194286-Anouk_Desk_Banner.jpg" alt="Second slide"></a>
    </div>
    <div class="carousel-item">
      <a routerLink=""><img class="d-block w-100" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/4/13/66f3cedb-f19d-4856-ae81-f715a3b1e6811618331402832-Kurtas_Desk_Banner--1-.jpg" alt="Third slide"></a>
    </div>
    <div class="carousel-item">
      <a routerLink = ""><img class="d-block w-100" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/4/15/4c1d8e34-2863-4a79-9225-92dd3329a5f61618472151365-Dk-banner.jpg" alt="Forth slide"></a>
    </div>
    <div class="carousel-item">
      <a routerLink=""><img class="d-block w-100" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/4/14/5f21fecc-71c0-489b-a6a2-7094843cc6c51618417962507-M-H_Desk_Banner.jpg" alt="Fifth slide"></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
