<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <!-- <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
      </button>
    </div> -->
    <div class="img bg-wrap text-center py-4" style="background-image: url(assets/side1/images/bg_1.jpg);">
      <div class="user-logo">
        <div class="img" style="background-image: url(assets/side1/images/logo.jpg);"></div>
        <h3>Welcome </h3>
      </div>
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a routerLink=""><span class="fa fa-home mr-3"></span> Home</a>
      </li>
      <li>
        <a routerLink="/dashboard/userprofile">
          <span class="fa fa-user mr-3"></span>
            User Profile
        </a>
    </li>
    <li>
        <a routerLink="/dashboard/notifications">
            <span class="fa fa-bell-slash mr-3"></span>Notifications</a>
    </li>
      <li>
          <a routerLink="/dashboard/myorders">
              <span class="fa fa-shopping-cart mr-3"></span>My Orders
          </a>
      </li>
      <li>
        <a routerLink="/dashboard/mywishlist">
            <i class="fa fa-heart mr-3"></i>My Wishlist
        </a>
      </li>
      <li class="active-pro">
          <a href="../examples/upgrade.html">
              <i class="fa fa-sign-out mr-3"></i>Logout
          </a>
      </li>

    </ul>

  </nav>

    <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4"></h2>
  </div>
</div>
