<br><br>

<h1 class="heading"><b> TRENDING IN WESTERN WEAR </b></h1>

<br><br>

<div class="container-fluid">
  <div class = 'row m-5'>
    <div class="col-md-2" id="example-card">

      <mat-card class="card1">
        <a routerLink=""><img mat-card-image src="../../assets/westerngirls/westerngirls1.jpg" height="300"  alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <p class="description">
            Wild Love Distressed Bell Bottoms (Dark Wash)
          </p>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>

   <div class="col-md-2" id="example-card">

      <mat-card class="card1">
        <a routerLink=""><img mat-card-image src="../../assets/menswestern/menswestern3.jpg" height = "300" alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <p class="description">
            Charcoal Grey Suit <br> for Men's
          </p>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>

    <div class="col-md-2" id="example-card">

      <mat-card class="card1">
        <a routerLink=""><img mat-card-image src="../../assets/westerngirls/westerngirls3.jpg" height="300" alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <p class="description">
            Chanel Cinch Mini Dress (Berry)
          </p>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>

    <div class="col-md-2" id="example-card">

      <mat-card class="card1">
        <a routerLink=""><img mat-card-image src="../../assets/kidswestern/kidswestern.jpg" height="300" alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <p class="description">
            Aristocrat kids
            <br> western wear
          </p>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>

    <div class="col-md-2" id="example-card">

      <mat-card class="card1">
        <a routerLink=""><img mat-card-image src="../../assets/westerngirls/westerngirls2.jpg" height="300" alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <p class="description">
            Tucked-In Tops <br> For Girls
          </p>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>

    <div class="col-md-2" id="example-card">

      <mat-card class="card1">
        <a routerLink=""><img mat-card-image src="../../assets/menswestern/menswestern4.jpg" height="300" alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <p class="description">
            Wedding Western <br> Outfit For Men's
          </p>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>

  </div>
<div>
