<br><br><br>

<h1 class="heading"><b> BIGGEST DEALS ON TOP BRANDS </b></h1>

<br><br>
<div class="container">
  <div class = 'row'>
    <div class="col-md-3" id="example-card">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
          </div>
          <mat-card-title>ALLEN SOLLY</mat-card-title>
          <mat-card-subtitle>T-Shirts</mat-card-subtitle>
        </mat-card-header>
        <a routerLink=""><img mat-card-image src="../../assets/allen/ALLENSOLLY T-SHIRT.jpg" height="350" alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <h2 class="allendescription">
            UNDER RS 599 T-SHIRTS
          </h2>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
<div class="col-md-3" id="example-card1">
<mat-card class="example-card1">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image1">
    </div>
    <mat-card-title>ZARA</mat-card-title>
    <mat-card-subtitle>Women's Wear</mat-card-subtitle>
  </mat-card-header>
  <a routerLink=""><img mat-card-image src="../../assets/zara/Zara Noor Abbas - Biography, Height & Life Story _ Super Stars Bio.png" height="330" alt="Zara women wears"></a>
  <mat-card-content>

    <p class="women">
       FLAT 40-60% OFF <br>ON ZARA WOMENS WEAR
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
<div class="col-md-3" id="example-card2">
<mat-card class="example-card2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2">
    </div>
    <mat-card-title>GUCCI</mat-card-title>
    <mat-card-subtitle>Sunglasses</mat-card-subtitle>
  </mat-card-header>
  <a routerLink=""><img mat-card-image src="../../assets/gucci/gucci sunglasses on Mercari.jpg" height="330" alt="Gucci sunglasses"></a>
  <mat-card-content>

    <p class="women">
      MIN. 40% OFF <br> ON GUCCI SUNGLASSES
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
<div class="col-md-3" id="example-card3">
<mat-card class="example-card3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image3">
    </div>
    <mat-card-title>WRANGLER</mat-card-title>
    <mat-card-subtitle>Wrangler Jeans</mat-card-subtitle>
  </mat-card-header>
  <a routerLink=""><img mat-card-image src="../../assets/wrangler/wrangller.jpg" height="330" alt="Wrangller jeans"></a>
  <mat-card-content>

    <p class="women">
       UPTO 70% OFF <br> ON WRANGLER JEANS
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
</div>
</div>

<br><br><br><br>

<div class="container">
  <div class = 'row'>
    <div class="col-md-3" id="example-card4">

      <mat-card class="example-card4">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image4">
          </div>
          <mat-card-title>U.S. POLO</mat-card-title>
          <mat-card-subtitle>Mens Wear</mat-card-subtitle>
        </mat-card-header>
        <a routerLink=""><img mat-card-image src="../../assets/us.polo/U_S. Polo Assn. Global (@uspoloassn) • Instagram photos and videos" height="350" alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <h2 class="allendescription">
            MIN. 30% OFF
          </h2>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
<div class="col-md-3" id="example-card5">
<mat-card class="example-card5">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image5">
    </div>
    <mat-card-title>H&M KIDS</mat-card-title>
    <mat-card-subtitle>Kids's Wear</mat-card-subtitle>
  </mat-card-header>
  <a routerLink=""><img mat-card-image src="../../assets/h&m kids/h&m kids.png" height="330" alt="H&M kids wears"></a>
  <mat-card-content>

    <p class="women">
        30-60% OFF <br>ON H&M KIDS WEAR
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
<div class="col-md-3" id="example-card6">
<mat-card class="example-card6">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image6">
    </div>
    <mat-card-title>LEVI'S</mat-card-title>
    <mat-card-subtitle>Levi's Tops</mat-card-subtitle>
  </mat-card-header>
  <a routerLink=""><img mat-card-image src="../../assets/levis/levis top.jpg" height="330" alt="levis tops"></a>
  <mat-card-content>

    <p class="women">
       FLAT 30% OFF <br> ON LEVI'S TOPS
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
<div class="col-md-3" id="example-card7">
<mat-card class="example-card7">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image7">
    </div>
    <mat-card-title>ROLEX</mat-card-title>
    <mat-card-subtitle>Watches</mat-card-subtitle>
  </mat-card-header>
  <a routerLink=""><img mat-card-image src="../../assets/rolex/Rolex Explorer ll.jpg" height="330" alt="rolex watch"></a>
  <mat-card-content>

    <p class="women">
       UPTO 10% OFF <br> ON ROLEX WATCHES
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
</div>
</div>

<br><br><br><br>
