
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FashionMart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          MEN
        </a>
        <div class="sub-menu-1">
          <ul class="sub">
          <li><a routerLink="/tshirt">T-Shirts</a></li>
          <li><a href="#">Formal Shirts</a></li>
          <li><a href="#">Casual Shirts</a></li>
          <li><a href="#">Kurtas</a></li>
          <li><a href="#">Mens-Suit</a></li>
          <li><a href="#">Blazzers</a></li>
          <li><a href="#">Men's-Jean</a></li>
          <li><a href="#">Track Pants</a></li>
          <li><a href="#">Shorts</a></li>
          <li><a href="#">Ethentic-Wear</a></li>
         </ul>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">WOMEN </a>
        <div class="sub-menu-1">
        <ul class="sub">
          <li><a routerLink="/tshirt">Women Tops</a></li>
          <li><a href="#">Dresses</a></li>
          <li><a href="#">Salwar-Suits</a></li>
          <li><a href="#">Gowns</a></li>
          <li><a href="#">Sarees</a></li>
          <li><a href="#">Women-Jeans</a></li>
          <li><a href="#">Sports-Wear</a></li>
          <li><a href="#">Ethentic-Wear</a></li>
          <li><a href="#">Kurtis</a></li>
        </ul>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">KIDS </a>
        <div class="sub-menu-1">
          <ul class="sub">
            <li><a routerLink="#">Kids T-Shirts</a></li>
            <li><a href="#">Ethentic-Wear</a></li>
            <li><a href="#">Boys Party-Wear</a></li>
            <li><a href="#">Girls Jeans</a></li>
            <li><a href="#">Boys Jeans</a></li>
            <li><a href="#">Girls Party-Wear</a></li>
            <li><a href="#">Track-Pants</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">WATCHES & ACCESSORIES</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="">MORE</a>
        <div class="sub-menu-1">
          <ul class="sub">
            <li><a routerLink="">About Us</a></li>
            <li><a routerLink="">Coustmer Care</a></li>
            <li><a routerLink="">Sell On FashionMart</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search for products, brands and more  " aria-label="Search">
      <button id="btnsearch" class="btn btn-dark  my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="desktop-actions">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link active" routerLink="/dashboard"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
          <div class="sub-menu-2">
            <ul class="sub">
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink=""><i class="fa fa-user" aria-hidden="true"></i> My Profile</a></li>
              <li><a routerLink=""><i class="fa fa-shopping-cart"></i> My Orders</a></li>
              <li><a routerLink=""><i class="fa fa-heart" aria-hidden="true"></i> Wishlist</a></li>
              <li><a routerLink="">Rewards</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fa fa-heart" aria-hidden="true"></i> Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
        </li>
      </ul>
    </div>

  </div>
</nav>



