

<h1 class="heading"><b> TRENDING IN ACCESSORIES </b></h1>

<br><br><br><br>
<div class="container">
  <div class = 'row'>
    <div class="col-md-3" id="example-card">

      <mat-card class="example-card">
        <a routerLink=""><img mat-card-image src="../../assets/mensaccessories/mens accessories1.jpg" height="320" alt="Photo of alen solly formal shirts"></a>
        <mat-card-content>

          <h2 class="women">
            Mens Silver Cross Necklace With Black Center
          </h2>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
<div class="col-md-3" id="example-card1">
<mat-card class="example-card1">
  <a routerLink=""><img mat-card-image src="../../assets/Womenaccessories/womenaccessories1.jpg" height="330" alt="Zara women wears"></a>
  <mat-card-content>

    <p class="women">
      Pair of Floral Drop Silver Earrings
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
<div class="col-md-3" id="example-card2">
<mat-card class="example-card2">
  <a routerLink=""><img mat-card-image src="../../assets/Womenaccessories/womenancelet.jpg" height="330" alt="women bag"></a>
  <mat-card-content>

    <p class="women">
      Latest Trendy Anklet <br> For Womens
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
<div class="col-md-3" id="example-card3">
<mat-card class="example-card3">
  <a routerLink=""><img mat-card-image src="../../assets/Womenaccessories/womenwatches1.jpg" height="330" alt="Wrangller jeans"></a>
  <mat-card-content>

    <p class="women">
      Stylish Watches <br> For Womens
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
</div>
</div>

<br><br><br><br>

<div class="container">
  <div class = 'row'>
    <div class="col-md-3" id="example-card4">

      <mat-card class="example-card4">
        <a routerLink=""><img mat-card-image src="../../assets/Womenaccessories/womenbag.jpg" height="345" alt="women bag"></a>
        <mat-card-content>

          <p class="women">
            Nreiro Shoulder Bag <br> For Womens
          </p>

        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
          <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
<div class="col-md-3" id="example-card5">
<mat-card class="example-card5">
  <a routerLink=""><img mat-card-image src="../../assets/mensaccessories/gshock watches.png" height="330" alt="G-Shock"></a>
  <mat-card-content>

    <p class="women">
      G-Shock Watch <br> For Mens
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
<div class="col-md-3" id="example-card6">
<mat-card class="example-card6">
  <a routerLink=""><img mat-card-image src="../../assets/Womenaccessories/womenaccessories3.jpg" height="330" alt="Necklace"></a>
  <mat-card-content>

    <p class="women">
      Glassy White Rhinestones Swing From Silver Chain
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
<div class="col-md-3" id="example-card7">
<mat-card class="example-card7">
  <a routerLink=""><img mat-card-image src="../../assets/mensaccessories/menssunglasses.jpg" height="330" alt="sunglasses"></a>
  <mat-card-content>

    <p class="women">
      Military Black Metal Pilot Style Sunglasses
    <p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button><i class="fa fa-shopping-cart" aria-hidden="true"></i> BUY</button>
    <button mat-button><i class="fa fa-heart" aria-hidden="true"></i> ADD TO WISHLIST</button>
  </mat-card-actions> -->
</mat-card>
</div>
</div>
</div>

<br><br><br><br>
