<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <br>
      <p class="fltr">FILTERS</p>

      <app-filters></app-filters>

      <!-- end of col-md-4  -->
    </div>

    <!-- Start of col-md-8 -->
    <div class="col-md-10">
      <!-- <h1>PRODUCTS</h1> -->
      <br>
      <div class="container-fluid">
        <div class="row">
         <div class="col-md-3">
          <mat-card class="example-card">
            <mat-card-content>
              <a routerLink=""><img mat-card-image src="../../assets/allen/ALLENSOLLY T-SHIRT.jpg" height="380" alt="rolex watch"></a>
              <p class="brand">
                ALLEN SOLLY
              </p>
              <p class="description">
                Men's Stripped Cotton T-Shirt
              </p>
              <var class="price">RS. 850</var>
              <del class="price-old"> RS.1100 </del>
              <button type="button" color="dark" id="cartbtn" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
              </mat-card-content>
          </mat-card>
        </div>

          <!-- 2nd product -->

          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-content>
                <a routerLink=""><img mat-card-image src="../../assets/menstshirt/Stylish Round Neck T Shirt.jpg" height="380" alt="rolex watch"></a>
                <p class="brand">
                  PETER ENGLAND
                </p>
                <p class="description">
                  Casual Sleeves Half Sleeves T-shirt
                </p>
                <var class="price">RS. 1599</var>
                <del class="price-old"> RS.2100 </del>
                <button type="button" color="dark" id="cartbtn" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
                </mat-card-content>
            </mat-card>
          </div>
          <!-- 3rd Product -->

          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-content>
                <a routerLink=""><img mat-card-image src="../../assets/menstshirt/menstshirt2.jpg" height="380" alt="rolex watch"></a>
                <p class="brand">
                  ROADSTER
                </p>
                <p class="description">
                  Muscle Fit Collar Panelled T-Shirt
                </p>
                <var class="price">RS. 999</var>
                <!-- <del class="price-old"> RS.1100 </del> -->
                <button type="button" color="dark" id="cartbtn" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
                </mat-card-content>
            </mat-card>
          </div>

          <!-- 4th Product -->

          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-content>
                <a routerLink=""><img mat-card-image src="../../assets/menstshirt/mentshrt3.jpg" height="380" alt="rolex watch"></a>
                <p class="brand">
                  WROGN
                </p>
                <p class="description">
                  Round Neck Casual Men's T-Shirt
                </p>
                <var class="price">RS. 950</var>
                <del class="price-old"> RS.1200 </del>
                <button type="button" color="dark" id="cartbtn" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <br><br>
      <!-- 2nd Row -->

      <div class="container-fluid">
        <div class="row">
         <div class="col-md-3">
          <mat-card class="example-card">
            <mat-card-content>
              <a routerLink=""><img mat-card-image src="../../assets/menstshirt/menstshrt4.jpg" height="380" alt="rolex watch"></a>
              <p class="brand">
                LACOSTE
              </p>
              <p class="description">
                Men's Round Neck Cotton T-Shirt
              </p>
              <var class="price">RS. 1699</var>
              <del class="price-old"> RS.2900 </del>
              <button type="button" color="dark" id="cartbtn" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
              </mat-card-content>
          </mat-card>
        </div>

          <!-- 2nd product -->

          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-content>
                <a routerLink=""><img mat-card-image src="../../assets/menstshirt/Stylish Round Neck T Shirt.jpg" height="380" alt="rolex watch"></a>
                <p class="brand">
                  PETER ENGLAND
                </p>
                <p class="description">
                  Casual Sleeves Half Sleeves T-shirt
                </p>
                <var class="price">RS. 1599</var>
                <del class="price-old"> RS.2100 </del>
                <button type="button" color="dark" id="cartbtn" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
                </mat-card-content>
            </mat-card>
          </div>
          <!-- 3rd Product -->

          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-content>
                <a routerLink=""><img mat-card-image src="../../assets/menstshirt/menstshirt2.jpg" height="380" alt="rolex watch"></a>
                <p class="brand">
                  ROADSTER
                </p>
                <p class="description">
                  Muscle Fit Collar Panelled T-Shirt
                </p>
                <var class="price">RS. 999</var>
                <!-- <del class="price-old"> RS.1100 </del> -->
                <button type="button" color="dark" id="cartbtn" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
                </mat-card-content>
            </mat-card>
          </div>

          <!-- 4th Product -->

          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-content>
                <a routerLink=""><img mat-card-image src="../../assets/menstshirt/mentshrt3.jpg" height="380" alt="rolex watch"></a>
                <p class="brand">
                  WROGN
                </p>
                <p class="description">
                  Round Neck Casual Men's T-Shirt
                </p>
                <var class="price">RS. 950</var>
                <del class="price-old"> RS.1200 </del>
                <button type="button" color="dark" id="cartbtn" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<br><br>
<app-footer></app-footer>
