mat-card{
  max-width: 500px;
  min-width: 500px;
  min-height: 65%;
  border-radius: 10px;
  margin-top: 40px !important;
}

.mat-card{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

mat-form-field{
  width: 450px;
}


.head{
  font-size: 1.8em;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
  color: white;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.048), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn0, .btn1 {
  width: 100%;
  color: white;
}


.link{
  text-align: center;
  font-weight: 500;
}

